<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in to have your MadLibs story!</h1>
    <form action="/game" method="post">
     <label for="exlamation">Sender's Name</label>
     <input id="exlamation" name="exlamation" type="text">
     <label for="adverb">Recipient's Name</label>
     <input id="adverb" name="adverb" type="text">
     <label for="noun">Recipient's Name</label>
     <input id="noun" name="noun" type="text">
     <label for="adjective">Recipient's Name</label>
     <input id="adjective" name="adjective" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
