<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Fill in the blanks below with whatever words you like. When you're done, hit the "Go!" button, and your choices will be inserted into the story.</h2>
      </div>
    </div>
    <div class="container">
      <form action="/game" method="post">
        <label for="exlamation">Exlamation: </label>
         <input id="exlamation" name="exlamation" type="text">
         <label for="adverb">Adverb: </label>
         <input id="adverb" name="adverb" type="text">
         <label for="noun">Noun: : </label>
         <input id="noun" name="noun" type="text">
         <label for="adjective">Adjective: </label>
         <input id="adjective" name="adjective" type="text">
         <button type="submit">Go!</button>
      </form>
    </div>
  </body>
</html>
