<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Please fill the blanks. </h1>
    <p> @Model.GetExlamation()! head said @Model.GetAdverb() as he jumped into his convertible
      @Model.GetNoun() and drove off with his @Model.GetAdjective() wife.</p>
  </body>
</html>
